/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap; /* Enable wrapping for smaller screens */
}

/* Main container for layout */
.main-container {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Space between left box and game container */
}

/* Styling for the left box */
.left-box,
.right-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    min-width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 20px; /* Space between leaderboard and transaction info */
}

/* Styling for the game container */
#game-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
}

/* Styling for the game title */
h1 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Button styling */
#push-button,
#login-button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 32px;
    width: 100%;

    box-sizing: border-box;
}

#push-button:hover,
#login-button:hover {
    background-color: #cc7a00;
}

/* Scoreboard styling */
#score-board {
    margin-top: 40px;
    font-size: 20px;
    color: #333333;
    text-align: left;
}

/* Leaderboard styling */
#leaderboard h2,
#transaction-info h2 {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

#leaderboard-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#leaderboard-list li {
    border-bottom: 2px solid #eaeaea;
    padding: 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.leaderboard-rank,
.leaderboard-id,
.leaderboard-score {
    font-weight: bold;
}

.leaderboard-rank {
    color: #ff9900;
    margin-right: 5px;
}

.leaderboard-id {
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
}

/* Prize Pot Container */
#prize-pot-container {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#prize-pot-container h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

#prize-pot-container p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

#prize-pot {
    font-weight: bold;
    color: #ff9900;
}

/* Styles for logged-in indicator */
#logged-in-indicator {
    color: #4caf50;
    font-size: 18px;
    margin-top: 20px;
    display: none;
}

/* Transaction info styling */
#transaction-info {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#transaction-info h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

#transaction-info p {
    font-size: 16px;
    color: #555;
}
